# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
# Uncomment if you want to ignore generated embeddings
# embeddings/

# Uncomment if you have large datasets
data/images/
data/*.zip
